*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .container{
    background: rgb(106, 196, 224, 0.9);
    perspective: 1000px;
    perspective-origin: 800px;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    .box{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      background: rgba(152, 73, 212, 0.9);
      border: solid 1px #fff;
      border-radius: 20px;
      transition: 15s;
      // transform: translate3d(50px, 100px, 45px);
      transform: rotateY(50deg);
      transform-style: preserve-3d;
      &:hover{
        transform: rotateX(830deg) rotateY(-800deg) rotateZ(500deg);
      }
      .front{
        width: 100px;
        height: 100px;
        background: rgb(240, 219, 71, 0.9);
        border-radius: 15px;
        transform: rotateY(-150deg);
        box-shadow: 0 0 10px 5px rgba(167, 24, 24, 0.5);

      }
    }
  }
}


